:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

/* nav css */
.topnav {
    background-color: #1d2528;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#myTopnav {
    padding: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #3D5637;
    color: white;
}

.topnav .icon {
    display: none;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        /* Ensure the dropdown is above other content */
        background-color: #1d2528;
        padding: 10px 0;
        overflow: hidden;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: #f2f2f2;
    }
}

/* gallery css */
.row>.column {
    padding: 5px;
    margin: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 40%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin-top: 50px;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    margin-bottom: -4px;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#root {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #fff;
    justify-content: center;
    width: auto;
    font-weight: 500;
}

h1,
h2,
h3 {
    text-align: center;
}

.logo {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.address {
    padding: 0 2rem;
}

.info-address {
    text-align: justify;
    text-indent: 20px;
    padding: 0 2rem;
}

.info-text {
    text-align: justify;
    text-indent: 20px;
    padding: 0 2rem;
}


.info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.info-block h3 {
    order: 1;
}

.info-text {
    order: 2;
}

.info-block img {
    max-width: 50%;
}

@media (max-width: 768px) {
    .info-block {
        flex-direction: column;
    }

    .info-content {
        margin: 0;
        margin-bottom: 20px;
    }

    .info-block img {
        max-width: 100%;
    }
}

.img-front {
    max-width: 100%;
}

.section {
    height: auto;
    width: 100%;
    padding: 1rem 0;
}

.section:nth-child(even) {
    background-color: #1d2528;
    color: #fff;
}

.section:nth-child(odd) {
    background-color: #E2D4C0;
    color: #1d2528;
}

.section img {
    width: 100%;
}

.icons {
    display: flex;
    justify-content: center;
    color: black;
    background-color: rgba(225, 225, 225, 0.75);
    background-size: cover;
    margin: 2rem;
    padding: 1rem;
}


.icon-tile {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    justify-content: space-between;
    text-align: center;
}

.icon-tile h3 {
    margin: 10px 0 0 0;
    font-size: 1.3rem;
}

.icon-tile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.outdoors-tile {
    display: flex;
}

.outdoors-tile img {
    flex: 1;
    max-width: 33%;
    height: auto;
}

.art-haven-tile {
    display: flex;
    justify-content: space-between;
}

.art-haven-tile img {
    width: 33.33%;
}

.nature-tile {
    display: flex;
    justify-content: space-between;
}

.nature-tile img {
    width: 33.33%;
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: large;
    font-weight: 600;
}

.phoneNumber a {
    color: black;
    text-decoration: underline;
}

.fullpg {
    max-width: 100%;
}

li {
    list-style-type: none;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .header {
        display: none;
    }

    .icons {
        flex-direction: column;
        align-items: center;
    }


}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 45%;
    margin: 1.66%;
}

.column img {
    width: 100%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    padding: 8px 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1d2528;
}

footer {
    background-color: #1d2528;
    color: #f2f2f2;
}

.flags {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-around;
    margin: auto;
}


.flags img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.linc-flag {
    background-color: rgb(15 22 121);
}

.contact,
.hours {
    text-align: left;
    padding: 10px;
}

.row-rooms {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.column-rooms {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
}

.column-rooms img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .column-rooms {
        flex: 50%;
    }
}

@media screen and (max-width: 480px) {
    .column-rooms {
        flex: 100%;
    }
}

/* reviews css */
.reviews-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 10px;
}

.review-box {
    flex: 1;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #E2D4C0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-box h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #1a1a1a;
}

.star-rating {
    color: #e4c82c; /* Gold color for stars */
    margin-bottom: 10px;
}

.review-box p {
    font-size: 1em;
    color: #555;
}
